@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: rgb(255 178 44);
  --secondary-color: #5a67d8;
  --thirdary-color: #fe3a52;
  --forthary-color: #3cc5ff;
  --fifthary-color: #61DDAA;
  --secondary-color-dark: #515cc6;
  --secondary-color-medium: #b9c0fe;
  --secondary-color-light: #a8b1fe;
  --fifthary-color-dark: rgb(27, 136, 91);
  --primary-color-dark: rgb(233, 154, 17);


 /* Primary Color - Yellow/Orange */
--primary-color-dark: rgb(233, 154, 17);
--primary-color: rgb(255, 178, 44);
--primary-color-medium: rgb(255, 186, 65); /* added */
--primary-color-light: rgb(255, 195, 85);

/* Secondary Color - Blue/Purple */
--secondary-color-dark: #515cc6;
--secondary-color: #5a67d8;
--secondary-color-medium: #b9c0fe;
--secondary-color-light: #a8b1fe;

/* Tertiary Color - Red/Pink */
--tertiary-color-dark: #d42940;
--tertiary-color: #fe3a52;
--tertiary-color-medium: #ff5468; /* added */
--tertiary-color-light: #ff6b7a;

/* Quaternary Color - Light Blue */
--quaternary-color-dark: #2ba8e6;
--quaternary-color: #3cc5ff;
--quaternary-color-medium: #54d0ff; /* added */
--quaternary-color-light: #6dd4ff;

/* Quinary Color - Green */
--quinary-color-dark: rgb(27, 136, 91);
--quinary-color: #61DDAA;
--quinary-color-medium: #7de3bc; /* added */
--quinary-color-light: rgb(181, 247, 214);


--rotate3d : rotateX(34deg) translate3d(-33px, -19px, -4px);

}

html {
  font-size: 16px;
  /* base size */
}

body {
  font-family: "Playpen Sans Thai", "Anuphan", sans-serif;
  line-height: 1.6;

}

h1 {
  font-size: 2rem;
  /* 32px */
}

h2 {
  font-size: 1.75rem;
  /* 28px */
}

h3 {
  font-size: 1.5rem;
  /* 24px */
}

p {
  font-size: 1rem;
  /* 16px */
}

small {
  font-size: 0.875rem;
  /* 14px */
}


.max-container {
  @apply max-w-6xl mx-auto md:px-0 px-2;
}

.btn-primary {
  /* @apply bg-zinc-900 shadow-sm text-white rounded-md items-center px-2 py-1 duration-150 hover:opacity-90; */
  --button_color: var(--primary-color);
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);

  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.btn-secondary {
  /* @apply bg-zinc-900 shadow-sm text-white rounded-md items-center px-2 py-1 duration-150 hover:opacity-90; */
  --button_color: var(--secondary-color);
  --button_outline_color: white;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);

  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.btn-fifthary {
  /* @apply bg-zinc-900 shadow-sm text-white rounded-md items-center px-2 py-1 duration-150 hover:opacity-90; */
  --button_color: var(--fifthary-color);
  --button_outline_color: white;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);

  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.btn-disabled {

  --button_color: white;
  --button_outline_color: gray;
  cursor: not-allowed;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);

  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.btn-question {

  --button_color: white;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);

  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar::scroll-marker {
  display: none;
}


.btn-question-active {

  --button_color: white;
  --button_outline_color: #5a67d8;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);

  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.btn-coin-active {

  --button_color: #ffda44;
  --button_outline_color: #feb627;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);

  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}



button:hover .btn-primary,
button:hover .btn-secondary,
button:hover .btn-fifthary,
button:hover .btn-question-active,
button:hover .btn-coin-active,
button:hover .btn-question {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .btn-primary,
button:active .btn-secondary,
button:active .btn-fifthary,
button:active .btn-coin-active,
button:active .btn-question-active,
button:active .btn-question {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.box {
  transition-duration: 300ms;

}

.box:hover {
  box-shadow:
    rgba(255, 215, 0, 0.4) 5px 5px,
    rgba(255, 215, 0, 0.3) 10px 10px,
    rgba(255, 215, 0, 0.2) 15px 15px,
    rgba(255, 215, 0, 0.1) 20px 20px,
    rgba(255, 215, 0, 0.05) 25px 25px;


}

.box-main {
  --button_radius: 0.75em;
  --button_outline_color: #5a67d8;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.card-box {
  @apply rounded-xl bg-white p-2 border-2;
}





.input {

  padding: 12px 0.875rem;
  font-size: 1rem;
  border: 2px solid #000;
  margin-top: -8px;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}

.input:focus {
  box-shadow: 5.5px 7px 0 black;
}


.progess-bar {
  color: #5a67d8;

}

.progess-bar::before {
  position: absolute;
  bottom: 6px;
  border-radius: 30px;
  border-bottom: dashed 5px white;
  opacity: 0.4;
  content: "";
  height: 5px;
  width: 100%;
}

.wrap-original-transform {
  perspective: 72px;
  transform-style: preserve-3d;
}

.original-transform {
  transform-origin: 45% 50%;
  transform: rotateX(34deg) rotateZ(-17deg) translate3d(-33px, -19px, -4px) skewX(11deg);
}

.rotate3d {
  @apply wrap-original-transform original-transform;
}




/* Responsive breakpoints */
@media (min-width: 640px) {
  html {
    font-size: 17px;
  }

  h1 {
    font-size: 2.25rem;
    /* ~38px */
  }

  h2 {
    font-size: 2rem;
    /* ~34px */
  }

  h3 {
    font-size: 1.75rem;
    /* ~30px */
  }
}

/* Optional additions */
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}




@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 2.5rem;
    /* ~45px */
  }

  h2 {
    font-size: 2.25rem;
    /* ~40px */
  }

  h3 {
    font-size: 2rem;
    /* ~36px */
  }
}